:root {
    overflow-x: hidden;
    font-size: 100%;
}

.home {
    display: grid;

    grid-template-areas:
    "banner banner banner banner banner" 
    " . reviews . news ."
    ;

    gap: 1rem;
}

.home header {
    width: 100vw;
    height: 50vh;
    background-image: url('../../assets/lizard-8787888.jpg');
    background-size: 100%;
    background-position: 15%;
    background-repeat: no-repeat;

    grid-area: banner;
}

.home main {
    grid-area: reviews;
    max-width: 100%;
    margin-top: 2rem;
}

.home aside {
    grid-area: news;
    margin-top: 2rem;
}

@media only screen and (max-width: 500px) {
    .home {
        display: grid;
    
        grid-template-areas:
        "banner banner banner"
        ". reviews ."
        ". news ."
        
        ;
    
        gap: 0.5rem;
    }

}

@media only screen and (max-width: 600px) and (min-height: 600px) {

    * {
        font-size: 95%;
    }

    .home header {
        width: 100vw;
        height: 25vh;
    }

    .main {
        max-width: 25%;
    }

    .home {
        display: grid;
    
        grid-template-areas:
        " banner banner banner banner" 
        " . reviews news  ."
        ;
    
        gap: 2rem;
    }
}

@media screen and (max-width: 350px) and (max-height: 890px) {
    * {
        font-size: 85%;
    }
}